<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>($ProjectName) Scatterplot</title>
		
		
		<!-- 1. Add these JavaScript inclusions in the head of your page -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="../js/highcharts.js"></script>
		
		<!-- 1a) Optional: the exporting module -->
		<script type="text/javascript" src="../js/modules/exporting.js"></script>
		
		
		<!-- 2. Add the JavaScript to initialize the chart on document ready -->
		<script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container', 
						defaultSeriesType: 'scatter',
						zoomType: 'xy'
					},
					title: {
						text: 'Creation date versus closing date'
					},
					subtitle: {
						text: 'Source: ($ProjectName) Bugzilla'
					},
					xAxis: {
						type: 'datetime',
						title: {
							text: null
						}
					},
					yAxis: {
						title: {
							text: 'Total Days'
						},
						min: 0.0,
						startOnTick: false,
						showFirstLabel: false

					},
					tooltip: {
						formatter: function() {
				                return ''+
								this.y +' Days';
						}
					},
					legend: {
						enabled: false
						},
					plotOptions: {
						scatter: {
							marker: {
								radius: 5,
								states: {
									hover: {
										enabled: true,
										lineColor: 'rgb(100,100,100)'
									}
								}
							},
							states: {
								hover: {
									marker: {
										enabled: false
									}
								}
							}
						}
					},
					series: [{
						name: 'Female',
						color: 'rgba(119, 152, 191, .5)',
						data: [($ScatterPlotData)]
					}]
				});
				
				
			});
				
		</script>
		
	</head>
	<body>
		
		<!-- 3. Add the container -->
		<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
		
				
	</body>
</html>
